html, body {
  max-height: 100%;
  max-width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #124b7a;
}

p {
  font-size: 1rem;
  text-align: center;
  margin-top: -24px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  width: 90%;
  margin-left: 12px;
  margin-right: 12px;
}

.page_container {
  padding: 0 30px;
  max-width: 100%;
}

.header {
  margin-left: auto;
  margin-right: auto;
}

.header_container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  vertical-align: top;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  height: 72px;
  transform: rotate(-10deg);
  padding:1px;
  box-shadow: 5px 5px 12px 5px grey;
}

.header__title {
  font-family: "Shadows Into Light", cursive;
  font-size: 3rem;
  float: right;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #aaa;
  margin-top: -3px;
  margin-right: 12px;
  display: inline-block;
}

.header__subtitle {
  font-size: 1.125rem;
  text-align: right;
  text-transform: uppercase;
  margin-top: -42px;
  margin-bottom: 3px;
  margin-right: 12px;
  display: inline-block;
  float: right;
  width: 90%;
}

.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12pt;
  border-top: 3px solid #7d97ad;
  border-bottom: 3px solid #7d97ad;
}

.hero_image {
  width: 100%;
}

.featured_work {
  font-size: 2rem;
  max-width: 100%;
  margin-left: auto;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 3px;
}

.project_gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.project_item {
  padding-left: 6px;
  padding-right: 6px;
  width: 32%;
}

.project_item img {
  border: 2px solid gray;
  width: 100%;
  display: block;
  height: auto;
}

.project_title {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6px;
  text-align: center;
  width: 90%;
}

/*MEDIA QUERIES

/*Wide Screen*/
@media screen and (min-width: 1025px) {
  main, .header_container, .hero, .featured_work, .project_gallery {
    width: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Tablet*/
@media screen and (max-width: 767px) {
  .header_container {
    min-width: 478px;
  }

  .header__logo {
    margin-top: 6px;
    margin-left: 6px;
    height: 48px;
  }

  .header__title {
    font-size: 2.25rem;
    margin-top: -9px;
  }

  .header__subtitle {
    font-size: .85rem;
    margin-top: -30px;
    margin-bottom: -6px;
  }

  .featured_work {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .project_title {
    font-size: 1.25rem;
  }

  p {
    font-size: .85rem;
    margin-top: -18px;
  }
}

/*Mobile*/
@media screen and (max-width: 479px) {
  .header_container {
    min-width: 320px;
  }

  .header__logo {
    margin-top: 6px;
    margin-left: 6px;
    height: 40px;
  }

  .header__title {
    font-size: 1.5rem;
    margin-top: -3px;
    margin-right: 6px;
  }

  .header__subtitle {
    font-size: .5rem;
    margin-top: -28px;
    margin-right: 6px;
  }

  .featured_work {
    font-size: 1.25rem;
  }

  .project_title {
    font-size: 1rem;
  }

  p {
    font-size: .65rem;
    margin-top: -12px;
  }
}
